<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/product.css" />
<style>
    @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
}
/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

.header .logo {
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
}
/* CSS for main section */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.pexels.com/photos/1399073/pexels-photo-1399073.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 20px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px 0;
}

.intro button {
  background-color: #b8d8be;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}

.achievements .work .work-heading {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
}

.about-me img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-me-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.about-me-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}
/* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302f49;
  padding: 40px 80px;
}

.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}
.work{
    cursor: pointer;
}
</style>
</head>

<body>
 <%- include('../includes/navigation.ejs') %>

 <main>
    <div class="intro">
      <h1>Vert</h1>
      <p>Welcome to our innovative online skincare shopping platform. </p>
      <button onclick="window.location.href='/products'">View All Products</button>
    </div>
    <div class="achievements">
      <div id="facecat" class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Face</p>
        <p class="work-text">Skincare products used on your face</p>
      </div>
      <div id="bodycat" class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Body</p>
        <p class="work-text">Skincare products used on your body</p>
      </div>
      <div id="haircat" class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Hair</p>
        <p class="work-text">Skincare products used on your hair</p>
      </div>
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>About Vert</h2>
        <p>Discover a world of beauty at our online skincare shopping app. We're committed to redefining your skincare experience by offering a meticulously curated collection of premium skincare products, carefully selected from renowned brands and backed by expert recommendations. Our platform brings convenience to your fingertips, providing tailored solutions for every skin type and concern.</p>
      </div>
      <img src="https://images.pexels.com/photos/4210373/pexels-photo-4210373.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Verd">
    </div>
  </main>
  <footer class="footer">
    <div class="copy">&copy; 2023 Vert</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="/products">Products</a>
        <a href="/orders">Orders</a>
        <a href="/cart">Cart</a>
      </div>
      <div class="links">
        <span>Made with Love</span>
        <a href="https://github.com/SanskritiGupta-03">Sanskriti Gupta</a>
      </div>
    </div>
  </footer>
 <%- include('../includes/footer.ejs') %>

 <script>
    document.getElementById("facecat").addEventListener("click",()=>{
        window.location.href="/categoryresults/face";
        
    });
    document.getElementById("bodycat").addEventListener("click",()=>{
        window.location.href="/categoryresults/body";
        
    });
    document.getElementById("haircat").addEventListener("click",()=>{
        window.location.href="/categoryresults/hair";
        
    });
 </script>